<template>
    <tr>
        <td>{{index}}</td>
        <td><input :class="classes" @input="setStart(index-1, $event.target.value)"></td>
        <td><input :class="classes" @input="setEnd(index-1, $event.target.value)"></td>
    </tr>
</template>

<script>
export default {
    props: ['index'],
    data() {
        return {
            classes: {
                'form-control': true,
                'border-0': true    
            }
        }
    },
    methods: {
        setStart(index, value) {
            this.$store.commit('setStartHour', {index: index, value: parseInt(value)});
        },
        setEnd(index, value) {
            this.$store.commit('setEndHour', {index: index, value: parseInt(value)});
        }
    }
}
</script>