<template>
    <tbody>
        <tr is="table-row" v-for="(day, index) in days" :key="index"
            :index="index+1"></tr>
    </tbody>
</template>

<script>
export default {
    computed: {
        days: function(){
            return this.$store.state.days;
        }
    }
}
</script>