<template>
    <div>В этом месяце было отработано: {{hours}}</div>
</template>

<script>
export default {
    computed: {
        hours() {
            return this.$store.state.days.reduce((acc, item)=>acc+(item['end']-item['start']), 0);
        }
    }
}
</script>