<template>
    <div class="container">
      <table class="table table-bordered">
        <caption class="text-center display-4">Подсчет отработанных часов за месяц</caption>
        <table-head />
        <table-body />
      </table>
      <total-hours />
    </div>
</template>

<script>
export default {
  middleware: 'store_days'
}
</script>

<style scoped>
    caption {
      caption-side: top;
    }
</style>